.css-1azl6jz-MuiTableCell-root{
    color: rgb(255 255 255 / 87%) !important;
    border-bottom: 0.5px solid rgba(224, 224, 224, 1) !important;
}

.css-177gid-MuiTableCell-root{
    color: rgb(255 255 255 / 87%) !important;
    border-bottom: 0.5px solid rgba(224, 224, 224, 1) !important;
    
}