body {

  background: linear-gradient(100.1deg, #061b5f 0%, #2D4FBC 68.75%, #2C4DC7 100%);
  color: #fff;
  font-family: sans-serif;

}

.right_dp {

  color: #adadad;

  right: 0;

}


.SmallText {
  font-size: small;
  margin-top: 20px;
  margin-bottom: 30px;
  color: #969696;
}

#fullcontainer {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

#fullcontainer>.left {
  float: left;
  margin-left: 50px;
  position: relative;
  margin-top: 30px;

}

#fullcontainer>.right {
  float: right;

}

.dataTable {
  margin-top: 30px;

}

.css-6h1dhi-MuiDataGrid-root {
  background-color: white;
  width: 100%;
  height: 300px;
}

.rightPannel {

  color: rgb(51, 51, 51);
  position: relative;
  text-align: left;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin-right: 0;
  background: linear-gradient(90deg, rgba(228, 228, 228, 1) 0%, rgba(242, 242, 242, 1) 44%, rgba(255, 255, 255, 1) 100%);
  padding-left: 10px;
  padding-right: 10px;
  width: 30%;

}

.selectcamera {
  margin-left: 0;
}

.FromDate {
  margin-bottom: 20px;
}



.rightPannelContent {
  margin-top: 25px;
  width: 100%;
  margin-left: 50px;

}

.RangeSlider {
  margin-top: 60px;
}





#demo-select-small-label {
  color: #000000;

}




.preview {
  position: relative;
  margin-top: 25px;
  border: 1px solid #afafaf;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  height: 480px;
  width: 720px;
  overflow: hidden;

  background-repeat: no-repeat;



}

.container {
  margin-left: 100px;

}




.metaUpload {

  position: relative;
  margin-top: 30px;

}

.metauploadbutton {

  position: relative;
  margin-top: 20px;

}


.imageuploadbutton {
  position: relative;
  margin-top: 20px;

}

#clearButton {
  margin-top: 20px;
}

#fillButton {
  margin-left: 20px;
  margin-top: 20px;
  background-color: #fff;
}

.selectsite {
  background-color: #fff;
  color: black;
}

.StrengthSlider {
  margin-top: 30px;
}


/* New CSS */

.HeatmapPage {

  height: 100vh;
  background-color: linear-gradient linear-gradient(0deg, #091640 10%, #2D4FBC 68.75%, #2C4DC7 100%);
}

/* Top Container */

.TopContainer {
  display: flex;
  height: 60px;
  align-items: center;
  background: #091640;
  margin-top: 25px;
  margin-left: 25px;
  margin-right: 25px;
  border-radius: 10px;
}

.title1 {
  font-size: 18px;
}


.TopContent {
  align-items: center;
  display: flex;

  width: 100%;
  padding-left: 25px;
  padding-right: 25px;
}

.SelectSiteDropDown {
  float: right;
  display: flex;
  margin-right: 25px;
}

#demo-select-small {
  background: #4371ED;
  border-radius: 5px;
  width: 150px;
  height: 20px;

}

#demo-select-small-label {
  color: #fff;
}

.MainContainer {
  margin-top: 10px;
  margin-left: 25px;
  margin-right: 25px;
  border-radius: 15px;
  background: linear-gradient(180deg, rgba(11, 18, 67, 0.806) 50%, rgba(19, 53, 165, 0.5) 100%);
  backdrop-filter: blur(10px);
  align-content: center;


}

.MainContent {
  display: flex;
  column-gap: 25px;
  padding: 25px;

}




.config_pannel {
  float: right;
  margin-top: 25px;
  position: relative;
  max-width: 100%;
  min-width: none;



}

.date {
  display: flex;
  column-gap: 30px;
}

/* .css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root{
  background-color: #4371ED;
  color: #fff;
} */



.MuiFormControl-root {
  color: white;
}

.css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
  background-color: #4270ed;
  border-radius: 5px;
  color: white;
}

.css-1v5z18m {

  width: 100% !important;

}


.DwellTimeBox {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #24409B;
  border-radius: 10px;


}

.DwellTimeContent {
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 10px;
  margin-bottom: 10px;

}

.MuiSlider-markLabel.css-yafthl-MuiSlider-markLabel {
  color: rgb(209, 209, 209);
}

.MuiSlider-markLabel.MuiSlider-markLabel.MuiSlider-markLabelActive.css-1eoe787-MuiSlider-markLabel {
  color: white;
}

.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root {

  color: #fff !important;

}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {

  color: #fff !important;

}

.MuiInputBase-input .MuiOutlinedInput-input .Mui-readOnly .MuiInputBase-readOnly .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  color: #fff !important;
}

.ZoneTableArea {
  position: relative;
  margin-top: 20px;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #24409B;
  border-radius: 10px;
  background: none;
  padding: 20px;

}

.PeelOfTableArea {
  position: relative;
  margin-top: 20px;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #24409B;
  border-radius: 10px;
  background: none;
  padding: 20px;
}



.css-quj9j6-MuiTable-root {
  min-width: 100% !important;
  min-height: 100px !important;
  height: 100px !important;

}

.css-1ex1afd-MuiTableCell-root {

  padding: 5px !important;
  border-bottom: 1px solid rgb(224 224 224 / 0%) !important;
  color: #ffffffde !important;


}

.css-1ygcj2i-MuiTableCell-root {
  color: #ffffffde !important;
  padding: 5px !important;
  border-bottom: .5px solid rgb(231, 231, 231) !important;

}

.css-11xur9t-MuiPaper-root-MuiTableContainer-root {
  background-color: hsla(0, 0%, 100%, 0) !important;
  box-shadow: none !important;


}

.css-1azl6jz-MuiTableCell-root {
  color: rgb(255 255 255 / 87%) !important;
  border-bottom: 0.5px solid rgba(224, 224, 224, 1) !important;
}

.css-177gid-MuiTableCell-root {
  color: rgb(255 255 255 / 87%) !important;
  border-bottom: 0.5px solid rgba(224, 224, 224, 1) !important;

}

.dwell_header {

  display: flex;


}

.right_dp {

  position: absolute;
  color: #adadad;
  right: 20px;
  top: 10px;
}

.GenHeat .css-sghohy-MuiButtonBase-root-MuiButton-root {
  height: 55px !important;
  background-color: #4371ED !important;
}