body {
  background: linear-gradient(129.1deg, #091640 0%, #2D4FBC 68.75%, #2C4DC7 100%);
  color: white;
  background-size: cover;
  background-attachment: fixed;
}

.sidebar-main {
  height: 500px;
}

.master_container {

  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;


}

.sidebar-menu {
  position: fixed;
  padding-top: 10px;
  min-width: 15% !important;
  flex: '100 0 250px';
  /* background-color: #14349b; */
  color: white;
  flex-direction: column;
  display: flex;
  background-image: linear-gradient(111.84deg, rgba(6, 11, 38, 0.94) 59.3%, rgba(26, 31, 55, 0) 100%);
  /* background-image: url('http://localhost:3001/clivebackgroundnav.png'); */
  /* Replace with the path to your image */
  background-size: cover;
  /* Set background image to cover the element */
  background-position: center;
  /* Set the position of the background image */
  opacity: 1;
  /* Set the desired opacity value (0.0 to 1.0) */
  /* You can also use rgba color value to set the opacity */
  /* background-color: rgba(20, 52, 155, 0.8); */
  border-radius: 10px;

  bottom: 10px !important;
  top: 10px !important;
  left: 10px !important;
  height: 95%;
}

.side-logo {
  margin: 10px auto 20px auto;
}


.sidebar-menu a {
  margin: 10px auto 20px auto;


  /* Add margin bottom to create space between each line */
  /* Or you can use padding instead:
  padding-bottom: 10px;
  */

  font-size: 16px;
}

.side-page {
  position: absolute;
  margin-left: 15%;
  width: 85%;
}

.sidebar-menu0::before {
  width: 250px;
  content: '';
  /* Create an empty pseudo-element */
  position: absolute;
  /* Set position to absolute so it overlays the background image */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(20,
      52,
      155,
      0.6);
  /* Set the desired background color with opacity */
  /* Adjust the rgba values to set the desired background color and opacity */
  pointer-events: none;
}